body {
    background: lightblue;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: darkgray;
}

img
{
    height: 100px;   
    width: auto;
    object-fit: cover;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
}